<header class="text-center add-big-top-margin">
  <h1><%= @date.strftime('%A, %-e %B %Y') %></h1>
  <nav>
    <%= link_to 'Previous', date_path(@date - 1), data: { keybinding: 'left' } %> | <%= link_to 'Next', date_path(@date + 1), data: { keybinding: 'right' }%>
  </nav>
</header>

<% if @journals.any? %>
  <section class="add-big-top-margin">
    <hr />
    <% @journals.each do |journal| %>
      <% if journal.timestamp.strftime('%-I:%M%P') != '12:00pm' %>
        <h3><%= "#{journal.timestamp.strftime('%-I:%M%P')}" %></h3>
      <% end %>
      <div class="article-text">
        <%= "#{auto_link(simple_format(journal.text))}".html_safe %>
      </div>
      <hr />
    <% end %>
  </section>
<% end %>

<% if @location.any? %>
  <h3 class="add-big-top-margin">Location</h3>

  <div style='width: 700px;'>
    <div id="map" style='width: 700px; height: 400px;'></div>
  </div>
  <script src="//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry"></script>
  <script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js'></script>
  <script>
  handler = Gmaps.build('Google');
  handler.buildMap({ internal: {id: 'map'}}, function(){
    var markers = handler.addMarkers([
      <% @location.each do |loc| %>
        <%= "{ lat: #{loc.latitude}, lng: #{loc.longitude} }," %>
      <% end %>
    ]);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
  </script>

  <table class="table table-bordered table-striped add-vertical-margins">
    <thead>
      <tr class="active">
        <th class="time-column">Time</th>
        <th>Location</th>
      </tr>
    </thead>
    <tbody>
      <% @location.each do |loc| %>
        <tr>
          <td>
            <%= loc.timestamp.strftime('%-I:%M%P') %>
          </td>
          <td>
            <%= "#{loc.latitude}, #{loc.longitude}" %>
          </td>
      <% end %>
    </tbody>
  </table>
<% end %>

<% if @tweets.any? %>
  <h3 class="add-big-top-margin">Tweets</h3>
  <table class="table table-bordered table-striped add-vertical-margins">
    <thead>
      <tr class="active">
        <th class="time-column">Time</th>
        <th>Tweet</th>
      </tr>
    </thead>
    <tbody>
      <% @tweets.each do |tweet| %>
        <tr>
          <td>
            <%= link_to tweet.timestamp.strftime('%-I:%M%P'), tweet.url %>
          </td>
          <td>
            <%= auto_link(tweet.text).html_safe %>
          </td>
      <% end %>
    </tbody>
  </table>
<% end %>

<% if @movies.any? %>
  <h3 class="add-big-top-margin">Watched</h3>
  <table class="table table-bordered table-striped add-vertical-margins">
    <thead>
      <tr class="active">
        <th>Title</th>
        <th class="rating-column">Rating</th>
      </tr>
    </thead>
    <tbody>
      <% @movies.each do |movie| %>
        <tr>
          <td>
            <%= link_to "#{movie.title} (#{movie.year})", movie.url %>
          </td>
          <td>
            <%= movie.rating %>
          </td>
      <% end %>
    </tbody>
  </table>
<% end %>

<% if @checkins.any? %>
  <h3 class="add-big-top-margin">Checkins</h3>
  <table class="table table-bordered table-striped add-vertical-margins">
    <thead>
      <tr class="active">
        <th class="time-column">Time</th>
        <th>Checkin</th>
      </tr>
    </thead>
    <tbody>
      <% @checkins.each do |checkin| %>
        <tr>
          <td>
            <%= checkin.timestamp.strftime('%-I:%M%P') %>
          </td>
          <td>
            <%= link_to checkin.venue, checkin.url %>
          </td>
      <% end %>
    </tbody>
  </table>
<% end %>

<% if @scrobbles.any? %>
  <h3 class="add-big-top-margin">Scrobbles</h3>
  <table class="table table-bordered table-striped add-vertical-margins">
    <thead>
      <tr class="active">
        <th class="time-column">Time</th>
        <th>Track</th>
      </tr>
    </thead>
    <tbody>
      <% @scrobbles.each do |scrobble| %>
        <tr>
          <td>
            <%= scrobble.timestamp.strftime('%-I:%M%P') %>
          </td>
          <td>
            <%= link_to scrobble.artist, scrobble.artist_url %> — <%= link_to scrobble.track, scrobble.track_url %>
          </td>
      <% end %>
    </tbody>
  </table>
<% end %>
